html {
  scroll-behavior: smooth;
}

.jumbotron {
  height: 90vh;
  margin-bottom: 0;
}

.navbar {
  height: 10vh;
}

.card:hover {
  background-color: lightgray;
}

.clip-ellipse {
  clip-path: ellipse(100px 150px at 150px 150px);
}

.headshot {
  width: 300px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

b {
  font-size: 0.3em;
  font-style: italic;
}
