html {
  scroll-behavior: smooth;
}

.jumbotron {
  padding-top: 4rem;
  min-height: 100vh;
  margin-bottom: 0px;
}

.headshot {
  width: 300px;
}

b {
  font-size: 0.3em;
  font-style: italic;
}

.clip-ellipse {
  clip-path: ellipse(90px 115px at 150px 135px);
}

.card:hover {
  background-color: lightgray;
}
/*
.body {
  padding: 0%;
}

.navbar {
  height: 10vh;
  height: 10%;
}







.vertical-center {
  display: flex;
  align-items: center;
}


*/
